<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soniquesoftwaredesign.sx14r.autogo" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".AutoGoSecurity"
            android:label="@string/ag_security_title"
            android:parentActivityName=".MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.soniquesoftwaredesign.sx14r.MyActivity" />
        </activity>
        <activity
            android:name=".AutoGoControls"
            android:label="@string/ag_controls_title"
            android:parentActivityName=".MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.soniquesoftwaredesign.sx14r.MyActivity" />
        </activity>
        <activity
            android:name=".AutoGoLocation"
            android:label="@string/ag_location_title"
            android:parentActivityName=".MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.soniquesoftwaredesign.sx14r.MyActivity" />
        </activity>
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyC1ie273hU01kYjVz1dk4YYettGt2_Wc3Y"/>
        <uses-permission android:name="android.permission.INTERNET"/>
        <uses-permission android:name="myapp.permission.MAPS_RECEIVE"/>
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
        <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
        <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
        <uses-library android:name="com.google.android.maps"/>
        <receiver android:name="AutoGoArmStateNotification" />
        <receiver android:name="AutoGoStartStateNotification" />

    </application>

</manifest>
